.num-contador{
  border: solid 1px;
  border-color: #000000;
  width: 150px;
  height: 150px;
  font-size: 75px;
  padding: 20px 0px;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
}

.hat-container{
  width: 55%;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 992px) {
  .num-contador{

    width: 100px;
    height: 100px;
    font-size: 50px;
    padding: 8px 2px;
    
  }

  .hat-container{
    width: 100%;
  }


}