.parte-de-container{
  background-color:#D73535;
}



.parte-item{
  border: solid #000000 1px;
  background-color: white;
  padding: 60px 30px;
  width: 450px;
  height: 90px;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
  
}
.zoom-on-hover {
  transition: transform 0.3s ease;
}

.zoom-on-hover:hover {
  transform: scale(1.02);
  cursor: pointer;
}

@media (max-width: 576px) {
  
  .parte-item{
    
    max-width: 260px;
    padding: 20px 20px;
    
  }
}
