
.ETHMX2025-container {
  height: 80vh; /* ocupa toda la altura de la pantalla */
}
  
.ETHMX2025-div-white{
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'PP Supply Mono', sans-serif;
  padding: 40px 90px;
  max-width: 700px;
  min-width: 250px;

}

.logos-container {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;
  gap: 1rem; /* espacio entre logos */
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .ETHMX2025-div-white {
    padding: 30px 30px;
 
  }

  .ETHMX2025-div-white img {
  
    
   
  }

  .logos-container img {
    min-width: 10px;
  }

}