.calendario {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
  
.calendario iframe {
    display: block;
    width: 100%;
    height: 450px;
    border: 1px solid #bfcbda88;
    border-radius: 4px;
}

/* Day Cards Styles - Single Row Layout */
.day-card {
    border: solid #000000 1px;
    background-color: white;
    padding: 20px 10px;
    width: 300px;
    min-width: 300px;
    height: 300px;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    flex: 0 0 250px;

    align-items: center !important;
}


@media (max-width: 1200px) {
    .esperar-items {
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: center;
        gap: 20px !important;
    }
    
    .day-card {
        width: 280px;
        min-width: 280px;
        flex: 0 0 calc(50% - 10px);
        padding: 20px 12px;
        height: 280px;
    }
}


@media (max-width: 992px) {
    .esperar-items {
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: center;
        gap: 15px !important;
        
    }
    
    .day-card {
        width: 250px;
        min-width: 250px;
        flex: 0 0 calc(50% - 7.5px);
        padding: 20px 12px;
        height: 260px;
    }
}

@media (max-width: 768px) {
    .esperar-items {
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: center;
        gap: 10px !important;
    }
    
    .day-card {
        width: 300px;
        min-width: 300px;
        flex: 0 0 calc(50% - 5px);
        padding: 20px 20px;
        margin-bottom: 16px;
        height: 280px;
    }
}
  