#carouselHeroEthMex {
  margin-top: 35px;
}

#carouselHeroEthMex .ethmx26-carousel-slide-inner .ethmx26-carousel-hero a {
  position: relative;
  z-index: 2;
}

.hero-carousel-item {
  height: 83vh;
  padding: 50px 20px;
  border-radius: 20px;
}

.bienvenida-texto {
  font-family: "Outfit", sans-serif;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.carousel-control-next-icono {
  padding: 1px 0px 1px 3px;
  border-radius: 100%;
  background-color: #fef9f5;
  color: #3a3a3a;
}

.carousel-control-prev-icono {
  padding: 1px 3px 1px 0px;
  border-radius: 100%;
  background-color: #fef9f5;
  color: #3a3a3a;
}

@media (min-width: 992px) {
  .bienvenida-texto {
    font-size: 72px;
  }
}
