body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  color: #3A3A3A;
  font-size: 16px;
  scroll-behavior: smooth;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'PP Supply Mono';
  src: url('../public/Fonts/PPSupplyMono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bigger';
  src: url('../public/Fonts/BiggerDisplay.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
